{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% include "navbar.html" %}
    <div class="container-flex">

        <div class="balance-container">
            <h2>Mon solde</h2>
    
            <a href="{{ url_for('create_balance') }}">Ajouter un solde</a> 
            
    
            
            {% for balanceUser in balance %}
                <div class="expense">
                    <p>Dernier solde: {{ balanceUser.value  }} €</p>
                    <a href="{{ url_for('delete_balance', balance_id=balanceUser.id) }}">❌</a>
                </div>
            {% endfor %}    
    
            <div class="expense">
                
                <p>Solde restant: {{ remaining_balance }} €</p>
                
            </div>
            
            
        </div>
        
        <div class="expense-container ">
            <h2>Mes Dépenses</h2>
    
            <a href="{{ url_for('create_expense') }}">Ajouter une dépense</a> 
    
            <ul>
                {% for expense in expenses %}
                <div class="expense">
                    <li>{{ expense.name }}: {{ expense.value }}€</li>
                    <a href="{{ url_for('delete_expense', expense_id=expense.id) }}">❌</a>
                </div>
                    
                {% else %}
                    <li>Aucune dépense enregistrée</li>
                {% endfor %}
            </ul>
        </div>

    </div>
    




{% endblock %}