* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: #FFF;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #232323;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.home-container {
    display: block;
    margin: auto;
    width: 500px;
    margin-top: 100px;
    background-color: #232323;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.home-container img {
    width: 300px;
    height: 300px;
}

.expense-container {
   
    margin: 0px 30px 0px 30px;

}

.expense {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    list-style: none;
    border-radius: 15px;
    padding: 10px;
    height: 60px;
    width: 300px;
    background-color: #606060;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: rgb(124, 124, 124) 1.95px 1.95px 2.6px;
}

.container-flex {
    display: flex;
}

