body {
    background-color: #121212;
    color: #FFF;
    width: 100vw;
    height: 100vh;
    margin: 0; /* Assurez-vous qu'il n'y a pas de marges par défaut */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    background-color: #232323;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    
}

.home-container img {
    width: 300px;
    height: 300px;
}
